body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}

.container {
  border-radius: 5px;
  background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=900&t=st=1670796773~exp=1670797373~hmac=7062a316a03f963c61467969b56f94bc1b38823725077799d4b26755a318e190");
  padding: 20px;
}

h3 {text-align: center;
margin-top: 10px;
}

h6 {color: white;
		background-color: black;
		text-align: center;
		padding: 2px;
		}